# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/

# Django stuff:
*.log
local_settings.py
db.sqlite3
static/images/
# /static/

# Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db